* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace !important;
  font-size: 20px;
  font-weight: 200; 
}
.navbar-brand{
  font-family: "VT323", monospace;
  font-size: 20px;
  font-weight: 200;
  color: blanchedalmond;
}
nav{
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid;
  padding: 10px 20px !important;
}
.contain{
  display: flex;
  height: 100vh;
}
.main{
  position: absolute;
  width: 40%;
  margin: 60px 30px; 
}
.content{
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  box-shadow: 4px 4px ;
  padding: 25px;
  text-wrap: wrap;
}
.content h1{
  margin-bottom: 40px;
}
img{
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  right: 0;
  z-index: -1;

}
.main button{
  margin: 50px 0;
  padding: 15px;
  background-color: white;
  border: 1.5px solid;

}
.main button a{
  text-decoration: none;
  color: black;
}
.main button:hover{
  transform: translate3d(0, -2px, -2px);
  box-shadow: 2px 2px;
}
.section-two{
  height: 100vh;
  background-color: rgb(241, 241, 241);
}
form{
  padding: 50px;
}
.checker{
  margin: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid;

}

