* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}
img{
  max-width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

