*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img{
    max-width: 100%;
    height: auto;
}
.content{
    position: absolute;
    top: 25%;
    text-align: left;
}
.content h1{
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-size: 50px;
}
.content p{
    margin: 30px 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
}